@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.s1 , .s2 , .s3 {
    max-width: 10000px;
    width: 80%;

}
.s1 {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.overskrift {
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
}

p {
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}

.innledning {
    font-weight: 500;
}

.bildetekst {
    font-size: 15px;
}



img {
    border-radius: 15px;

}

.s2 {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
}



.A1, .A2, .A3 {
    background-color: lightblue;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
}

h3 {
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}

li {
    font-size: 22px;
    font-family: "Montserrat", sans-serif;
    margin: 5px 5px;

}

.s3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.s3>img {
    width: 100%;
}

/*Kortversjonen css*/

#accordion {
    background: #1c1c1c;
    border-radius: 18px;
    padding: 24px;
    max-width: 100000px;
    width: 80%;
    overflow: hidden;
    transition: max-height 0.35s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
}

#accordion.kort {
    max-height: 335px;
}

#accordion.kort ul {
    height: 150px;
    overflow: hidden;
    mask-image: linear-gradient(to bottom, black 70%, transparent);
    -webkit-mask-image: linear-gradient(to bottom,
            black 70%,
            transparent);
}

#korttitle {
    font-size: 26px;
    font-weight: 700;
    color: #f0f0f0;
    margin-bottom: 16px;
}

#lesmer {
    padding: 10px 18px;
    color: black;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.25s ease;
    margin-bottom: 10px;
}

#lesmer:hover {
    background: #666;
    transform: scale(1.05);
}

#accordion ul {
    font-size: 17px;
    line-height: 1.7;
    color: #eaeaea;
    margin-top: 12px;
}

@media (width < 700px) {
    .s2 {
        display: grid;
        grid-template-columns: 1fr;
    }
}

