main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.s1 {
    max-width: 100000px;
    width: 90%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

.bildetekst {
    font-size: 15px;
}

.s1 > p, img {
    width: 85%;
}

img{
    border-radius: 15px;

}