section {
    padding: 40px;
}

#s1 {
    text-align: left;
    margin-top: 90px;
}

#s1 h1 {
    font-size: 52px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
}

#s1 p {
    line-height: 1.5;
}

.meta {
    font-family: Arial, sans-serif;
    color: #777;
    font-size: 15px;
    margin-bottom: 20px;
}

.ingress {
    font-size: 1.4rem;
    color: #333;
    font-family: Georgia, serif;
    margin-bottom: 30px;
    max-width: 650px;
}

h2 {
    font-size: 32px;
    margin-bottom: 15px;
    line-height: 1.3;
}


ul {
    margin-left: 20px;
    padding-left: 10px;
}

li {
    margin-bottom: 8px;
}

p {
    line-height: 3;
}


