@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.s1 {
    max-width: 100000px;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.overskrift {
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
}

p {
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}

.innledning {
    font-weight: 500;
}

.bildetekst {
    font-size: 15px;
}

.s1>p,
img {
    width: 85%;
}

img {
    border-radius: 15px;

}

.s2 {
    width: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
}



.A1, .A2 {
    background-color: lightblue;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
}

h3 {
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}

li {
    font-size: 22px;
    font-family: "Montserrat", sans-serif;
    margin: 5px 5px;

}

.s3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.s3>img {
    width: 100%;
}