body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(250, 250, 250);
    line-height: 1.75;
}

section {
    max-width: 900px;
    margin: auto;
    padding: 40px;
}

h2 {
    font-family: 'Orbitron', sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin-top: 55px;
    margin-bottom: 14px;
}

img {
    border-radius: 12px;
    margin: 32px 0;
}

.top {
    margin-top: 45px;
    margin-bottom: 40px;
}

.top h1 {
    font-size: 47px;
    font-weight: 800;
    line-height: 1.15;
    margin-bottom: 15px;
    font-family: 'Orbitron', sans-serif;
}

.av {
    font-size: 15px;
    color: gray;
    margin-bottom: 18px;
}

.ingress {
    font-size: 20px;
    font-family: Georgia, serif;
    max-width: 550px;
    line-height: 1.55;
    margin-bottom: 30px;
}

ul {
    margin-left: 30px;
    padding-left: 0;
}

li {
    margin-bottom: 10px;
    font-size: 18px;
}

#accordion {
    background: rgb(47, 47, 47);
    border-radius: 18px;
    margin: 40px auto;
    max-width: 650px;
    overflow: hidden;
    transition: max-height 0.35s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
}

#accordion.kort {
    max-height: 335px;
}

#accordion.kort ul {
    overflow: hidden;
    color: rgb(250, 250, 250);
}

#korttitle {
    font-size: 32px;
    font-weight: 900;
    color: rgb(250, 250, 250);
    margin-bottom: 16px;
}

#accordion ul {
    font-size: 17px;
    line-height: 1.7;
    color: rgb(250, 250, 250);
    margin-top: 12px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    max-width: 1200px;
    margin: 60px auto;
    padding: 20px;
}

.grid section {
    background: white;
    border-radius: 16px;
    padding: 30px;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.12);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.grid h2 {
    margin-top: 0;
    font-size: 28px;
    font-weight: 700;
}

.grid section p {
    flex-grow: 1;
}

@media (max-width: 900px) {
    #s1 h1 {
        font-size: 40px;
    }

    .ingress {
        font-size: 1.35rem;
    }

    h2 {
        font-size: 28px;
    }
}


@media (max-width: 600px) {
    section {
        padding: 16px;
    }

    #s1 h1 {
        font-size: 34px;
        line-height: 1.2;
    }

    .ingress {
        font-size: 1.2rem;
        max-width: 90%;
    }

    img {
        margin: 18px 0;
    }

    h2 {
        font-size: 24px;
    }

    p,
    li {
        font-size: 16px;
    }
}

@media (max-width: 900px) {
    .grid {
        grid-template-columns: 1fr;
        gap: 25px;
        padding: 10px;
    }
}