@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.s1 {
    max-width: 100000px;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

.bildetekst {
    font-size: 15px;
}

.s1 > p, img {
    width: 85%;
}

img{
    border-radius: 15px;

}

.s2 {
    width: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
}



.A1, .A2 {
    background-color: lightblue;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
}

h3 {
    font-size: 20px;
}

li {
    font-size: 23px;
    margin: 5px 5px;
}

.s3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.s3 > img {
    width: 100%;
}