* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
}

section {
    max-width: 1000px;
    margin: auto;
}


body {
    background-color: rgba(190, 114, 114, 0.1);
}



/* HEADER */
header {
    position: sticky;
    top: 0;
    background: white;
    z-index: 1000;
    background-color: rgb(229, 228, 228);
    border-bottom: 1px solid rgb(96, 96, 96);
    margin-bottom: 50px;
}

.top {
    width: 100%;
}

.header {
    display: flex;
    padding: 20px;
    width: 100%;
    justify-content: space-between;
}

.quantico-bold {
    font-family: "Quantico", sans-serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 2px;
    transform: scaleY(1.3);
    display: inline-block;
    transform-origin: bottom;
}

nav {
    display: flex;
    justify-content: space-around;
    align-content: center;
    gap: 55px;
}

.lenke {
    padding: 5px;
    text-decoration-line: none;
    width: fit-content;
    align-content: center;
    transition: 0.3s;
}

.lenke:hover {
    text-decoration-line: underline;
}

.abonnent {
    align-content: center;
}

button {
    padding: 15px;
    letter-spacing: 2px;
    border-radius: 25px;
    border: none;
    transition: 0.2s;
}

button:hover {
    scale: 1.1;
}



/* MAIN */
.linje {
    max-width: 1000px;
    margin: 30px auto 30px;
    height: 1px;
    background-color: rgb(96, 96, 96);
}