.artikler {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 300px;
    gap: 30px;
}

article {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.20);
    background-color: white;
}

.stor {
    grid-column: span 4;
    grid-row: span 2;
}

.medium {
    grid-column: span 4;
}

.liten {
    grid-column: span 2;
}

.hoy {
    grid-column: span 2;
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 10px;
    background-color: rgb(255, 255, 255);
}

.hoy a {
    display: block;
}

.hoy img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 6px;
    transition: transform 0.2s;
}

.hoy::-webkit-scrollbar {
    width: 8px;
}

.hoy::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

.ai {
    width: 100%;
    margin-top: 15px;
    padding: 5px;
    font-family: "Quantico", sans-serif;
    font-weight: 700;
    font-style: normal;
    transform: scaleY(1.2);
}

.ai-bilder {
    padding: 35px;
}

.bilde {
    width: 100%;
    height: 75%;
    background-color: blueviolet;
}

.bilde img {
    height: 100%;
    object-fit: cover;
}

.overskrift {
    width: 100%;
    padding: 15px;
    background-color: white;
}

.artikler h1 {
    letter-spacing: 2px;
    line-height: 1.4;
    font-weight: bolder;
}

.stor h1 {
    font-size: 40px;
}

.liten h1 {
    font-size: 23px;
}

.sam {
    object-position: right;
}



/* LITEN SKJEM */

@media (max-width: 1000px) {
    body {
        width: 100%;
    }

    section{
        max-width: 700px;
    }
    
    main {
        padding: 10px;
    }

    section {
        max-width: 1000px;
    }

    .artikler {
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: auto !important;
        gap: 15px;
    }

    .hoy {
        width: 100vw;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .hoy>.ai {
        width: 100%;
    }

    .ai-bilder-container {
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        overflow-y: hidden;
        width: 100vw;
        justify-content: center;
        align-items: center;
        flex: 0 0 auto;
        justify-content: flex-start;
    }

    .medium {
        grid-column: span 2 !important;
    }

    .stor {
        grid-column: span 4 !important;
    }

    .linje {
            max-width: 100%;

    }

    
}



@media (max-width: 700px) {
    .artikler {
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    }

    section {
        max-width: 700px;
    }




}


@media (max-width: 400px) {
    .artikler {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .medium {
        grid-column: span 2;
    }

    .stor{ 
        grid-column: span 2;
    }

    section {
        max-width: 400px;
    }




}