#reklamebildet3 {
    height: 270px;
}

.artikler {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 300px;
    gap: 30px;
}

article {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.20);
}

.stor {
    grid-column: span 4;
    grid-row: span 2;
}

.medium {
    grid-column: span 4;
}

.liten {
    grid-column: span 2;
}

.hoy {
    grid-column: span 2;
    grid-row: span 2;
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 5px;
    background-color: rgb(255, 255, 255);
}

.hoy a {
    display: block;
}

.hoy img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 6px;
    transition: transform 0.2s;
}

.hoy::-webkit-scrollbar {
    width: 8px;
}

.hoy::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

.ai {
    width: 100%;
    margin-top: 15px;
    padding: 5px;
    font-family: "Quantico", sans-serif;
    font-weight: 700;
    font-style: normal;
    transform: scaleY(1.2);
}

.ai-bilder {
    padding: 35px;
}

.bilde {
    width: 100%;
    height: 75%;
    background-color: blueviolet;
}

.bilde img {
    height: 100%;
    object-fit: cover;
}

.overskrift {
    width: 100%;
    height: 25%;
    padding: 20px;
    background-color: white;
}

a>h1 {
    letter-spacing: 2px;
    line-height: 1.4;
    font-weight: bolder;
}

.stor h1 {
    font-size: 40px;
}

.liten h1 {
    font-size: 23px;
}