.artikler {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: auto;
    gap: 30px;
}

article {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.20);
    background-color: white;
}

.stor {
    grid-column: span 4;
    grid-row: span 2;
}

.medium {
    grid-column: span 4;
}

.liten {
    grid-column: span 2;
}

.hoy {
    grid-column: span 2;
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 10px;
    background-color: rgb(255, 255, 255);
}

.hoy a {
    display: block;
}

.hoy img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 6px;
    transition: transform 0.2s;
}

.hoy::-webkit-scrollbar {
    width: 8px;
}

.hoy::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

.ai {
    width: 100%;
    margin-top: 15px;
    padding: 5px;
    font-family: "Quantico", sans-serif;
    font-weight: 700;
    font-style: normal;
    transform: scaleY(1.2);
}

.ai-bilder {
    padding: 35px;
}

#s1 {
    height: 300px;
}

.bilde {
    width: 100%;
    height: 75%;
    background-color: blueviolet;
}

.bilde img {
    height: 100%;
    object-fit: cover;
}

.overskrift {
    width: 100%;
    padding: 15px;
    background-color: white;
}

.artikler h1 {
    letter-spacing: 2px;
    line-height: 1.4;
    font-weight: bolder;
}

.stor h1 {
    font-size: 40px;
}

.liten h1 {
    font-size: 23px;
}

.sam {
    object-position: right;
}


/* TABLET (under 1000px) */
@media (max-width: 1000px) {
    .artikler {
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
    }

    .ikon {
        margin-bottom: 20px;
    }
    .abonnent {
        margin-top: 20px;
    }

    .stor {
        grid-column: span 4;
    }

    .stor h1 {
        font-size: 23px;
    }

    .stor .overskrift {
        margin-bottom: 75px;
    }

    .medium {
        grid-column: span 4;
    }

    .liten {
        grid-column: span 2;
    }

    .hoy {
        grid-column: span 4;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .ai-bilder-container {
        display: flex;
        gap: 20px;
        width: 100%;
    }

    .ai-bilder {
        flex: 0 0 250px;
    }

    main {
        padding: 20px;
    }

    .reklame img {
        max-height: 300px;
        object-fit: cover;
        height: auto;
    }



}

/* MOBIL (under 700px) */
@media (max-width: 700px) {
    .artikler {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .stor,
    .medium,
    .liten,
    .hoy {
        grid-column: span 1;
    }
}

/* VELDIG LITEN MOBIL (under 400px) */
@media (max-width: 400px) {
    .artikler {
        gap: 70px;
    }
}