.reklame {
    width: 100%;
    min-height: 270px;
    background-color: aquamarine;
    position: relative;
    top: 0;
    left: 0;

}

.reklamelogo {
    background-color: rgba(255, 255, 255, 0.7);
    width: fit-content;
    padding: 7px;
    letter-spacing: 2px;
}

.artikler {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 300px;
    gap: 30px;
}

article {
    background-color: aquamarine;
}

.stor {
    grid-column: span 4;
    grid-row: span 2;

}

.medium {
    grid-column: span 4;
}

.liten {
    grid-column: span 2;
}