.omoss {
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 35px;
}

.prosjektet {
    background-color: rgb(229, 228, 228);
    border-left: 4px solid rgb(40, 110, 153);
    padding: 25px;
    margin-bottom: 30px;
    border-bottom-right-radius: 70px;
    border-top-right-radius: 70px;
}

.omoss p {
    font-size: 15px;
    line-height: 1.4;
    letter-spacing: 1px;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
}

.liste {
    letter-spacing: 1px;
    width: 50%;
    line-height: 1.8;
    text-align: left;
    padding-left: 50px;
}

h2 {
    font-family: "Quantico", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
    transform: scaleY(1.3);
}

.omosslinje {
    width: 100%;
    background-color: rgb(40, 110, 153);
    height: 1.5px;
    margin: 10px auto 20px;

}

.vidre {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.nyhet {
    width: 250px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.20);
    margin-bottom: 30px;
    transition: 0.3s;
}

.bilde {
    height: 140px;
}

.bilde img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.overskrift {
    width: 100%;
    padding: 15px;
    background-color: white;
}

.overskrift > p {
    font-size: 23px;
}

.nyhet:hover {
    scale: 1.1;
}



@media (max-width: 840px ) {
    .vidre {
        flex-wrap: wrap;
    }

    .liste {
        width: 100%;
    }
}